.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5px;
  border: 1px solid blanchedalmond;
  border-radius: 8px;
  padding: 15px;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 300px;
  height: 250px;
  text-align: center;
}

.post:hover {
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  transition: width 5s ease-in-out;
}

.post .mui_chip {
  margin-top: auto;
}
.post-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.post-date {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}
.post-title h2,
.post-date p,
.post-description {
  margin: 0;
}
.post-description {
  text-align: left;
}

.tags,
.actions,
.title {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  align-items: center;
}
