.user_name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.posts-wrapper {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* .parent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9f9f9;
} */
.parent {
  width: 80%;
  max-width: 900px;
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 100%;
  max-width: 1200px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}
