* {
  margin: 0;
}
#root {
  height: 100vh;
}
body {
  overflow: auto;
}

.fixed {
  position: absolute;
  top: 20px;
  left: 20px;
}
.notification {
  position: absolute;
  top: 20px;
  right: 60px;
}
